html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main{
  padding: 1rem;
  min-height: 100vh;
  position: relative;
  padding-bottom: 300px;
  box-sizing: border-box;
}

.order-flow{
  background: black;
}

/*
  GALLARY LOOP IMAGE
*/

.loop_wrap {
  display: flex;
  width: 100vw;
  height: 220px;
  overflow: hidden;
  margin-bottom: 1rem;

  ul{
    display: flex;
    list-style: none;

    li{
      width: 220px;

      img {
        width: auto;
        height: 100%;
      }

      img:first-child {
        animation: loop 50s -25s linear infinite;
      }

      img:last-child {
        animation: loop2 50s linear infinite;
      }
    }
  }
}

@keyframes loop {
  0% {
    // transform: translateX(100%);
    transform: translateX(500%);
  }
  to {
    // transform: translateX(-100%);
    transform: translateX(-500%);
  }
}

@keyframes loop2 {
  0% {
    // transform: translateX(0);
    transform: translateX(0);
  }
  to {
    // transform: translateX(-200%);
    transform: translateX(-900%);
  }
}